<!-- <div class="container">
    <div class="row text-center">
      <ul class="col-sm-4 list-unstyled">
        <li class="alert alert-info">A</li>
        <li class="alert alert-info">B</li>
        <li class="alert alert-info">C</li>
        <li class="alert alert-info">D</li>
        <li class="alert alert-info">E</li>
        <li class="alert alert-info">F</li>
        <li class="alert alert-info">G</li>
      </ul>
      <ul class="col-sm-4 list-unstyled">
        <li class="alert alert-danger">H</li>
        <li class="alert alert-danger">I</li>
        <li class="alert alert-danger">J</li>
        <li class="alert alert-danger">K</li>
        <li class="alert alert-danger">L</li>
        <li class="alert alert-danger">M</li>
        <li class="alert alert-danger">N</li>
      </ul>
      <ul class="col-sm-4 list-unstyled">
        <li class="alert alert-warning">O</li>
        <li class="alert alert-warning">P</li>
        <li class="alert alert-warning">Q</li>
        <li class="alert alert-warning">R</li>
        <li class="alert alert-warning">S</li>
        <li class="alert alert-warning">T</li>
        <li class="alert alert-warning">U</li>
      </ul>
    </div>
  </div> -->

  <div class="container-fluid custom-container dashboard-container">
      <div class="row">
        <div class="col-xs-12 mr-4">
          <ul class="list-group">
            <li class="list-group-item">List Item 1</li>
            <li class="list-group-item">List Item 2</li>
            <li class="list-group-item">List Item 3</li>
            <li class="list-group-item">List Item 4</li>
            <li class="list-group-item">List Item 5</li>
            <li class="list-group-item">List Item 6</li>
            <li class="list-group-item">List Item 7</li>
            <li class="list-group-item">List Item 8</li>
            <li class="list-group-item">List Item 9</li>
            <li class="list-group-item">List Item 10</li>
            <li class="list-group-item">List Item 11</li>
            <li class="list-group-item">List Item 12</li>
            <li class="list-group-item">List Item 13</li>
            <li class="list-group-item">List Item 14</li>
            <li class="list-group-item">List Item 15</li>
            <li class="list-group-item">List Item 16</li>
            <li class="list-group-item">List Item 17</li>
            <li class="list-group-item">List Item 18</li>
            <li class="list-group-item">List Item 19</li>
            <li class="list-group-item">List Item 20</li>
            <li class="list-group-item">List Item 21</li>
            <li class="list-group-item">List Item 22</li>
            <li class="list-group-item">List Item 23</li>
            <li class="list-group-item">List Item 24</li>
            <li class="list-group-item">List Item 25</li>
          </ul>
        </div>
      </div>
    </div>