
.navbar {
    min-height: 80px;
    background-color: #2C3E50;
}
  
.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.navbar .navbar-brand .header {
    padding-left: 1.5rem;
}
  
.navbar .navbar-brand img {
    width: 40px;
    height: 40px;
    margin-top: -5px;
}

  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }

.navbar .navbar-brand .clock {
    text-align: right !important;
}