
.navbar {
    min-height: 80px;
    background-color: white;
    border-bottom: 1px solid #D5D5D5;
}
  
.navbar-brand {
    padding: 0 15px;
    height: 100px;
    line-height: 100px;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Montserrat', sans-serif !important; */
    color: black;
    font-size: 3rem;
    font-weight: 600;
}

.navbar-brand .header {
    padding-left: 2rem;
}

.navbar-brand:hover {
    color: white; 
}

.navbar .navbar-brand img {
    max-width: 75%;
    max-height: 75%;
    margin-top: -5px;
}

.navbar-default {
    border: none;
}

a .acute {
    padding-left: 4rem !important;
}

  @media (min-width: 768px) {
    .navbar-nav > li > a {
      
    }
  }