.clock {
    text-align: right !important;
    font-size: 5rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding-left: 4rem;
}

.date {
    position: absolute;
    right: 35px;
    top: 35px;
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.acute-container {
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    font-size: 2rem;
    /* top: 0; */
}


.acute {
    position: absolute;
    right: 200px;
    top: 35px;
    font-size: 2rem;
    padding-top: 0.5rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding-right: 0.5rem;
}

.acute-text {
    color: #c0392b;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.acute-img {
    width: 55px;
    height: 55px;
    position: absolute;
    right: 260px;
    top: -5px;
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}