<div *ngIf="patientId && triage" class="queue-row">
    <div class="col-xs-4 nopadding position">
        {{position}}
    </div>
    <div class="col-xs-4 nopadding id">
        {{patientId}}???
    </div>
    <span *ngIf="baby" class="baby"></span>
    <span class="right" [ngClass]="{'triage1': triage === 1 && !fastTrack,'triage2': triage === 2 && !fastTrack ,'triage3': triage === 3 && !fastTrack, 'triage4': triage === 4 && !fastTrack, 'triage5': triage === 5 && !fastTrack, 'fasttrack': fastTrack}"></span>
</div>
<div *ngIf="id && !patientId" class="queue-row">
    <div class="col-xs-12 nopadding">
        <span class="header">{{id}}</span>
    </div>
</div>