<div *ngIf="patientId && triage" class="queue-row hidden-xs hidden-sm hidden-md">
    <!-- <div class="col-xs-4 nopadding position">
        {{minutesToWait}}
    </div> -->
    <div class="col-xs-4 nopadding id">
        {{patientId}}
        <!--{{minutesToWait}}-->
    </div>
    <span *ngIf="increased" class="increased"></span>
    <span *ngIf="decreased" class="decreased"></span>
    <!-- <span class="right">{{minutesToWait}} - {{oldMinutesToWait}}</span> -->
    <span *ngIf="baby" class="baby"></span>
    <span class="right" [ngClass]="{'triage1': triage === 1 && !fastTrack,'triage2': triage === 2 && !fastTrack ,'triage3': triage === 3 && !fastTrack, 'triage4': triage === 4 && !fastTrack, 'triage5': triage === 5 && !fastTrack, 'fasttrack': fastTrack}"></span>
</div>
<div *ngIf="id && !patientId" class="queue-row hidden-xs hidden-sm hidden-md">
    <div class="col-xs-12 nopadding">
        <span class="header">{{id}}</span>
    </div>
</div>

<!-- Mobile viewport -->
<div class="row hidden-lg" *ngIf="patientId && triage">
    <div class="col-xs-4">
        {{patientId}}
    </div>
    <div>
        <span *ngIf="baby" class="baby"></span>
    </div>
    <div class="text-right">
        <span [ngClass]="{'triage1': triage === 1 && !fastTrack,'triage2': triage === 2 && !fastTrack ,'triage3': triage === 3 && !fastTrack, 'triage4': triage === 4 && !fastTrack, 'triage5': triage === 5 && !fastTrack, 'fasttrack': fastTrack}">
        </span>
    </div>
</div>
<div *ngIf="id && !patientId" class="row hidden-lg">
    <div class="col-xs-12 nopadding">
        <span class="header">{{id}}</span>
    </div>
</div>