.queue-row {
    color: #515151;
    width:100%;
    font-weight: 700;
    font-size: 1.7rem;
    padding: none !important;
}

.queue-row .header {
    color: white;
    padding-left: 0.5rem;
    width:100%;
    font-size: 1.7rem;
    font-weight: 700;
}

.queue-row .left {
    padding-left: 0.5rem;
    text-align: left;
    font-weight: 700;
    color: black;
}

.queue-row .right {
    padding-right: 0.5rem;
    float: right;
}

.triage1 {
    position: absolute;
    content:url('../../assets/images/1.png');
    width: 35px;
    height: 30px;
    margin: auto;
    top: 0; bottom: 0; right: 30px;
}

.triage2 {
    position: absolute;
    content:url('../../assets/images/2.png');
    width: 35px;
    height: 30px;
    margin: auto;
    top: 0; bottom: 0; right: 30px;
}

.triage3 {
    position: absolute;
    content:url('../../assets/images/3.png');
    width: 35px;
    height: 30px;
    margin: auto;
    top: 0; bottom: 0; right: 30px;
}

.triage4 {
    position: absolute;
    content:url('../../assets/images/4.png');
    width: 35px;
    height: 30px;
    margin: auto;
    top: 0; bottom: 0; right: 30px;
}

.triage5 {
    position: absolute;
    content:url('../../assets/images/5.png');
    width: 35px;
    height: 30px;
    margin: auto;
    top: 0; bottom: 0; right: 30px;
}

