<div *ngIf="patientId && triage" class="queue-row hidden-xs">
    <div class="col-xs-4 nopadding position">
        {{position}}
    </div>
    <div class="col-xs-4 nopadding id">
        {{patientId}}
    </div>
    <span *ngIf="increased" class="increased"></span>
    <span *ngIf="decreased" class="decreased"></span>
    <span *ngIf="baby" class="baby"></span>
    <span class="right" [ngClass]="{'triage1': triage === 1 && !fastTrack,'triage2': triage === 2 && !fastTrack ,'triage3': triage === 3 && !fastTrack, 'triage4': triage === 4 && !fastTrack, 'triage5': triage === 5 && !fastTrack, 'fasttrack': fastTrack}"></span>
</div>
<div *ngIf="id && !patientId" class="queue-row hidden-xs">
    <div class="col-xs-12 nopadding">
        <span class="header">{{id}}</span>
    </div>
</div>

<!-- Mobile viewport -->
<div  class="row hidden-lg hidden-md visible-xs-*" *ngIf="patientId && triage">
    <div class="col-xs-4">
        {{position}}
    </div>
    <div class="col-xs-4">
        {{patientId}}
    </div>
    <div class="col-xs-4 text-right">
    <span [ngClass]="{'triage1': triage === 1 && !fastTrack,'triage2': triage === 2 && !fastTrack ,'triage3': triage === 3 && !fastTrack, 'triage4': triage === 4 && !fastTrack, 'triage5': triage === 5 && !fastTrack, 'fasttrack': fastTrack}"> </span>
    </div>
</div>
<!-- <div class="row hidden-lg hidden-md visible-xs-*" *ngIf="patientQueueSorted">
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4 text-right">

    </div>
</div> -->