.queue-row {
    color: #515151;
    width:100%;
    font-weight: 600;
    font-size: 1.7rem;
    padding: none !important;
}

.queue-row .header {
    color: white;
    width:100%;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.5rem;
    font-weight: 600;
}

.queue-row .left {
    padding-left: 0.5rem;
    text-align: left;
    /* font-family: 'Montserrat', sans-serif !important; */
    font-weight: 600;
    color: black;
}

.queue-row .center {
    /* font-family: 'Montserrat', sans-serif !important; */
    padding-left: 8rem;
    color: black;
}

.queue-row .right {
    float: right;
}

.baby {
    position: absolute;
    content:url('../../assets/images/baby.png');
    width: 30px;
    height: 30px;
    margin: auto;
    top: 0; bottom: 0; right: 70px;
}

.baby:after
{  /*this for firefox browser*/
    position: absolute;
    content: url('../../assets/images/crying-baby.png');
    top: 0; bottom: 0; right: 40px;
}

.triage1 {
    position: absolute;
    content:url('../../assets/images/1.png');
    width: 30px;
    height: 30px;
    margin: auto;
    top: 0; bottom: 0; right: 20px;
}

.triage2 {
    position: absolute;
    content:url('../../assets/images/2.png');
    width: 30px;
    height: 30px;
    margin: auto;
    top: 0; bottom: 0; right: 20px;
}

.triage3 {
    position: absolute;
    content:url('../../assets/images/3.png');
    width: 30px;
    height: 30px;
    margin: auto;
    top: 0; bottom: 0; right: 20px;
}

.triage4 {
    position: absolute;
    content:url('../../assets/images/4.png');
    width: 30px;
    height: 30px;
    margin: auto;
    top: 0; bottom: 0; right: 20px;
}

.triage4:after
{  /*this for firefox browser*/
    position: absolute;
    /* content: url('../../assets/images/4.png'); */
    top: 0; bottom: 0; right: 20px;
}

.triage5 {
    position: absolute;
    content:url('../../assets/images/5.png');
    width: 30px;
    height: 30px;
    margin: auto;
    top: 0; bottom: 0; right: 20px;
}

.triage5:after
{  /*this for firefox browser*/
    position: absolute;
    /* content: url('../../assets/images/5.png'); */
    /* transform: scale(.09); */
    top: 0; bottom: 0; right: 20px;
}

