.queue-section-header {
    background-color: #1ABC9C;
}

.queue-section {
    color: white;
    width:100%;
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
    padding: 1rem;
}

.queue-section .left {
    padding-left: 0.5rem;
    text-align: left;
}

.queue-section .right {
    padding-right: 0.5rem;
    float: right;
}