<a class="navbar-fastTrack">
    <span class="fasttrack">Fast-track</span>
    <span><img src="../../assets/images/fast_track.png" class="d-inline-block align-top" alt=""></span>
</a>
<a class="navbar-triage">
    <span class="triage padding-right">Akut</span>
    <span><img src="../../assets/images/1.png" class="d-inline-block align-top margin-right" alt=""></span>
    <span><img src="../../assets/images/2.png" class="d-inline-block align-top margin-right" alt=""></span>
    <span><img src="../../assets/images/3.png" class="d-inline-block align-top margin-right" alt=""></span>
    <span><img src="../../assets/images/4.png" class="d-inline-block align-top margin-right" alt=""></span>
    <span><img src="../../assets/images/5.png" class="d-inline-block align-top" alt=""></span>
    <span class="triage">Lettere skadet</span>
</a>