.acute-container {
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
}

.acute {
    position: absolute;
    right: 275px;
    top: 35px;
    font-family: 'Segoe UI';
    font-size: 2rem;
    font-weight: 600;
    color: black;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.treatment {
    position: absolute;
    right: 455px !important;
    top: 35px;
    font-family: 'Segoe UI';
    font-size: 2rem;
    font-weight: 600;
    color: black;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.treatment-text {
    position: absolute;
    right: 435px !important;
    top: 35px;
    font-family: 'Segoe UI';
    font-size: 2rem;
    font-weight: 600;
    color: #c0392b;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.treatment-text-large {
    position: absolute;
    right: 425px !important;
    top: 35px;
    font-family: 'Segoe UI';
    font-size: 2rem;
    font-weight: 600;
    color: #c0392b;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.acute-text {
    color: #c0392b;
}

.acute-img {
    width: 35px;
    height: 55px;
    position: absolute;
    font-family: 'Segoe UI';
    font-size: 2rem;
    font-weight: 600;
    right: 325px;
    top: -10px;
    font-size: 1.8rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.acute-treatment-img {
    width: 35px;
    height: 35px;
    position: absolute;
    font-family: 'Segoe UI';
    font-size: 2rem;
    font-weight: 600;
    right: 495px;
    top: -10px;
    font-size: 1.8rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.acute-treatment-img img {
    width: 55px;
    height: 55px;
}

.acute-img-mobile img {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 45px;
    height: 45px;
}

.acute-mobile {
    position: absolute;
    right: 30px;
    top: 35px;
    font-family: 'Segoe UI';
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}