.em {
    padding-left: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    /* display: relative; */
    font-family: 'Open Sans', sans-serif;
}
  
.em img {
    /* display: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 60px;
    height: 60px;
    opacity: 0.7;
}

.acute {
    color: #c0392b;
}

.acute-container {
    /* top: 0; */
    /* left: 0; */
    /* display: absolute; */
}