.acute-container {
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;
    font-size: 2rem;
    /* top: 0; */
}


.acute {
    position: absolute;
    right: 275px;
    top: 35px;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.acute-text {
    color: #c0392b;
}

.acute-img {
    width: 55px;
    height: 55px;
    position: absolute;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    right: 330px;
    top: -5px;
    font-size: 1.8rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}