.padding-right {
    padding-right: 3rem;
}

.padding-left {
    padding-left: 3rem;
}

.padding-middle {
    padding-left: 3rem;
    padding-right: 3rem;
}

.padding-top {
    padding-top: 2rem;
}

.form-control {
    padding: 2rem;
}

.container-fluid {
    background-color: white;
    padding: 3rem !important;
    margin: 0;
}

input[type=radio] {
    width: 25px;
    height: 25px;
    margin-right: 1rem;
}

.options {
    padding-top: 5rem;
}

select.form-control {
    color: black;
}

.select {
    width: 100%;
    padding: 1rem;
}

.line-right {
    border-right: 1px solid #dfe4ea;
}

.line-left {
    border-left: 1px solid #dfe4ea;
}

.dashboard-container {
    border-top: 1px solid #dfe4ea;
}

.btn {
    padding: 1rem !important;
}