<div class="container-fluid custom-container dashboard-container padding-bottom">
  <div class="row">
    <div class="col-sm-3 line-right padding-right padding-bottom">
      <div class="content-header">Register patient</div>
      <div class="row">
        <div class="col-sm-12 padding-top">
          <form>
            <div class="form-group">
              <label class="content-label">Patient ID</label>
              <input type="text" class="form-control" disabled name="PatientId" id="Nameofinput1" placeholder="Name of patient">
            </div>
            <div class="form-group">
              <label class="content-label">Patient name</label>
              <input type="text" [(ngModel)]="patientRegisterModel.name" class="form-control" name="patientName" id="Nameofinput1"
                placeholder="Name of patient">
            </div>
            <div class="form-group">
              <label class="content-label">Patient type:</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="patientRegisterModel.infant" type="radio" name="radioPatientType"
                  value="false" checked>
                <label class="form-check-label content-label" for="inlineRadio1">Adult</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="patientRegisterModel.infant" type="radio" name="radioPatientType"
                  value="true">
                <label class="form-check-label content-label" for="inlineRadio2">Infant</label>
              </div>
            </div>
            <div class="form-group">
              <label class="content-label">Patient triage:</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientRegisterModel.triage" name="radioPatientTriage"
                  id="inlineRadio1" value="1">
                <label class="form-check-label content-label" for="inlineRadio1">Red</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientRegisterModel.triage" name="radioPatientTriage"
                  id="inlineRadio2" value="2">
                <label class="form-check-label content-label" for="inlineRadio2">Orange</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientRegisterModel.triage" name="radioPatientTriage"
                  id="inlineRadio3" value="3">
                <label class="form-check-label content-label" for="inlineRadio3">Yellow</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientRegisterModel.triage" name="radioPatientTriage"
                  id="inlineRadio3" value="4" checked>
                <label class="form-check-label content-label" for="inlineRadio3">Green</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientRegisterModel.triage" name="radioPatientTriage"
                  id="inlineRadio3" value="5">
                <label class="form-check-label content-label" for="inlineRadio3">Blue</label>
              </div>
            </div>
            <div class="form-group">
              <label class="content-label">Queue type:</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientRegisterModel.queueType" name="radioPatientQueue"
                  id="inlineRadio2" value="false" checked>
                <label class="form-check-label content-label" for="inlineRadio2">Regular</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientRegisterModel.queueType" name="radioPatientQueue"
                  id="inlineRadio3" value="true">
                <label class="form-check-label content-label" for="inlineRadio3">Fast-track</label>
              </div>
            </div>
            <div class="form-group">
              <label class="content-label">Queue priority:</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientRegisterModel.queuePriority" name="radioPatientQueuePriority"
                  id="inlineRadio2" value="false" checked>
                <label class="form-check-label content-label" for="inlineRadio2">False</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientRegisterModel.queuePriority" name="radioPatientQueuePriority"
                  id="inlineRadio3" value="true">
                <label class="form-check-label content-label" for="inlineRadio3">True</label>
              </div>
            </div>
            <div class="form-group">
                <label class="content-label">Queue position:</label>
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-number" (click)="decreaseRegister()" data-type="minus"
                    data-field="quant[1]">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </span>
                <input type="text" name="quant[1]" class="form-control input-number" [(ngModel)]="patientRegisterModel.queuePosition" value="1" min="0" max="100">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-number" (click)="increaseRegister()" data-type="plus" data-field="quant[1]">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </span>
              </div>
            </div>
            <button type="submit" (click)="registerPatient()" class="btn btn-primary btn-block content-button">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-3 line-right padding-middle padding-bottom">
      <div class="content-header">Update patient</div>
      <div class="row">
        <div class="col-sm-12 padding-top">
          <form>
            <div class="form-group">
              <label class="content-label">Patient ID</label>
              <input type="text" class="form-control" [(ngModel)]="patientUpdateModel.patientId" value="{{patientUpdateModel.patientId" name="PatientId" id="Nameofinput1" placeholder="Name of patient">
            </div>
            <div class="form-group">
              <label class="content-label">Patient name</label>
              <input type="text" class="form-control" [(ngModel)]="patientUpdateModel.name" value="{{patientUpdateModel.name}}"
                name="PatientName" id="Nameofinput1" placeholder="Name of patient">
            </div>
            <div class="form-group">
              <label class="content-label">Patient type:</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientUpdateModel.infant" name="radioPatientType"
                  id="inlineRadio1" value="false" checked>
                <label class="form-check-label content-label" for="inlineRadio1">Adult</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientUpdateModel.infant" name="radioPatientType"
                  id="inlineRadio2" value="true">
                <label class="form-check-label content-label" for="inlineRadio2">Infant</label>
              </div>
            </div>
            <div class="form-group">
              <label class="content-label">Patient triage:</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientUpdateModel.triage" name="radioPatientTriage"
                  id="inlineRadio1" value="1">
                <label class="form-check-label content-label" for="inlineRadio1">Red</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientUpdateModel.triage" name="radioPatientTriage"
                  id="inlineRadio2" value="2">
                <label class="form-check-label content-label" for="inlineRadio2">Orange</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientUpdateModel.triage" name="radioPatientTriage"
                  id="inlineRadio3" value="3">
                <label class="form-check-label content-label" for="inlineRadio3">Yellow</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientUpdateModel.triage" name="radioPatientTriage"
                  id="inlineRadio3" value="4" checked>
                <label class="form-check-label content-label" for="inlineRadio3">Green</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientUpdateModel.triage" name="radioPatientTriage"
                  id="inlineRadio3" value="5">
                <label class="form-check-label content-label" for="inlineRadio3">Blue</label>
              </div>
            </div>
            <div class="form-group">
              <label class="content-label">Queue type:</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientUpdateModel.queueType" name="radioPatientQueue"
                  id="inlineRadio2" value="false" checked>
                <label class="form-check-label content-label" for="inlineRadio2">Regular</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientUpdateModel.queueType" name="radioPatientQueue"
                  id="inlineRadio3" value="true">
                <label class="form-check-label content-label" for="inlineRadio3">Fast-track</label>
              </div>
            </div>
            <div class="form-group">
              <label class="content-label">Queue priority:</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientUpdateModel.queuePriority" name="radioPatientQueuePriority"
                  id="inlineRadio2" value="false" checked>
                <label class="form-check-label content-label" for="inlineRadio2">False</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="patientUpdateModel.queuePriority" name="radioPatientQueuePriority"
                  id="inlineRadio3" value="true">
                <label class="form-check-label content-label" for="inlineRadio3">True</label>
              </div>
            </div>
            <div class="form-group">
                <label class="content-label">Queue position:</label>
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-number" (click)="decreaseUpdater()" data-type="minus"
                    data-field="quant[1]">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </span>
                <input type="text" name="quant[1]" class="form-control input-number" [(ngModel)]="patientUpdateModel.queuePosition" value="1" min="0" max="100">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-number" (click)="increaseUpdater()" data-type="plus" data-field="quant[1]">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </span>
              </div>
            </div>
            <button type="submit" (click)="updatePatient()" class="btn btn-primary btn-block content-button">Update
              patient</button>
            <button type="submit" (click)="deletePatient()" class="btn btn-danger btn-block content-button">Delete
              patient</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6 padding-left padding-bottom">
      <div class="content-header">Patient list</div>
      <div *ngIf="patients" class="row">
        <div class="col-sm-12 padding-top">
          <div class="form-group">
            <label class="content-label">Patient queue</label>
            <div *ngIf="patients.length > 0" class="row">
              <div class="col-sm-12">
                <div *ngFor="let patient of patients; let i = index">
                  <input class="form-check-input" (click)="updateValues(patient.patientId, patient.name, patient.age, patient.triage, patient.fastTrack)"
                    type="radio" name="radioPatient" />
                  <label class="form-check-label content-label">{{i + 1}}</label>
                  <label class="form-check-label content-label">PatientID: {{ patient.patientId }}</label>
                  <label class="form-check-label content-label">Age: {{ patient.age }}</label>
                  <label class="form-check-label content-label">Triage: {{ patient.triage }}</label>
                  <label class="form-check-label content-label">FastTrack: {{ patient.fastTrack }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 white">
          <div class="form-group">
            <label class="content-label">Number of acute</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" (change)="updateOptions()" type="radio" [(ngModel)]="acutePatients" name="radioAcutePatients"
                id="inlineRadio3" value="0">
              <label class="form-check-label content-label" for="inlineRadio3">0</label>
              <input class="form-check-input" (change)="updateOptions()" type="radio" [(ngModel)]="acutePatients" name="radioAcutePatients"
                id="inlineRadio3" value="1">
              <label class="form-check-label content-label" for="inlineRadio3">1</label>
              <input class="form-check-input" (change)="updateOptions()" type="radio" [(ngModel)]="acutePatients" name="radioAcutePatients"
                id="inlineRadio3" value="2">
              <label class="form-check-label content-label" for="inlineRadio3">2</label>
              <input class="form-check-input" (change)="updateOptions()" type="radio" [(ngModel)]="acutePatients" name="radioAcutePatients"
                id="inlineRadio3" value="3">
              <label class="form-check-label content-label" for="inlineRadio3">3</label>
              <input class="form-check-input" (change)="updateOptions()" type="radio" [(ngModel)]="acutePatients" name="radioAcutePatients"
                id="inlineRadio3" value="4">
              <label class="form-check-label content-label" for="inlineRadio3">4</label>
              <input class="form-check-input" (change)="updateOptions()" type="radio" [(ngModel)]="acutePatients" name="radioAcutePatients"
                id="inlineRadio3" value="5">
              <label class="form-check-label content-label" for="inlineRadio3">5</label>
            </div>
          </div>
          <div class="form-group">
            <label class="content-label">Acute message</label>
            <input type="text" [(ngModel)]="acuteMessage" class="acuteText form-control" name="patientName" id="Nameofinput1"
              placeholder="Acute message">
            <div>
              <button type="submit" (click)="updateOptions()" class="acuteText btn btn-primary btn-block content-button">Update
                message</button>
            </div>
            <div>
              <button type="submit" (click)="clearMessage()" class="acuteText gutter btn btn-secondary btn-block content-button">Clear
                message</button>
            </div>
          </div>
          <div class="form-group">
            <label class="content-label">Fast-track</label>
            <div class="form-check form-check-inline">
              <label class="form-check-label content-label" for="inlineRadio3">Closed</label>
              <input class="form-check-input" (change)="updateOptions()" type="radio" [(ngModel)]="fastTrackOpen" name="radioAcutePatients"
                id="inlineRadio3" value="false">
              <label class="form-check-label content-label" for="inlineRadio3">Open</label>
              <input class="form-check-input" (change)="updateOptions()" type="radio" [(ngModel)]="fastTrackOpen" name="radioAcutePatients"
                id="inlineRadio3" value="true">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>