<div class="container-fluid custom-container dashboard-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">Fast-track køen</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="content-text">
        <span>Velkommen til akutmodtagelsen - følg din estimeret ventetid.</span>
        <div>Find dit patient ID forneden.</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="content-triage content-text">
        <app-triage></app-triage>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 gutter">
      <!-- Normal queue -->
      <app-queue [queueType]="normalQueue"></app-queue>
    </div>
  </div>
</div>