.content-triage {
    text-align: right;
}

.content-text {
    padding: 0;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: black
}

.text-right {
    float: right;
}