<div class="container-fluid custom-container dashboard-container">
  <div class="row">
    <div class="col-sm-6">
      <div *ngIf="!fastTrack" class="content-header">Ventetider for mindre skader</div>
      <div *ngIf="fastTrack" class="content-header">Fast-track sporet</div>
    </div>
    <div class="col-sm-6 text-right gutter">
        <app-triage></app-triage>
    </div>
    <div class="col-sm-12 line gutter">

    </div>
  </div>
  <!-- <div class="row">
    <div class="col-sm-6">
      <div class="content-text">
        <span>Velkommen til akutmodtagelsen - følg din estimeret ventetid.</span>
        <div>Find dit patient ID forneden.</div>
      </div>
    </div>
    <div *ngIf="!fastTrack" class="col-sm-6">
      <div class="content-triage content-text">
        <app-triage></app-triage>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-12 gutter">
      <app-queue [fastTrack]="fastTrack"></app-queue>
    </div>
  </div>
</div>