
/* You can add global styles to this file, and also import other style files */
@import './styles/bootstrap-3.3.7-dist/css/bootstrap.min.css';

@font-face {
    font-family: 'Segoe UI';
    src: url(assets/fonts/SegoeUI.otf);
    src: url(assets/fonts/SegoeUI.svg);
    src: url(assets/fonts/SegoeUI.ttf);
    src: url(assets/fonts/segoeui.woff);
}

body {
  background-color: #EEEEEE;
  font-family: 'Segoe UI';
  font-size: 16px;
  font-weight: 300;
}

ul > .list-group {
    background-color: #47525E;
}

.custom-container {
    margin-left: 2rem;
    margin-right: 2rem;
}

.content-header {
  font-family: 'Segoe UI';
  font-size: 3.5rem;
  font-weight: 700;
}

.content-header-mobile {
    font-family: 'Segoe UI';
    font-size: 3rem;
    font-weight: 900;
}

.content-label {
  font-family: 'Segoe UI';
  font-weight: 400;
  font-size: 2rem;
  padding-right: 2rem;
}

.boldtext {
    font-weight: bold !important;
    color: black;
}

.content-button {
    font-family: 'Segoe UI';
    font-size: 1.8rem;
    font-weight: 300;
}

.content-text {
  font-family: 'Segoe UI';
  font-size: 2rem !important;
  color: black;
}

.content-text-mobile {
    font-size: 1.8rem;
    color: #47525E;
}

.gutter {
  padding-top: 1rem;
}

.large-gutter {
  padding-top: 2rem;
  color: white;
}

ul.list-group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap:1em;
    grid-auto-flow: column;
    /* background-color: #47525E; */
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    ul.list-group {
        grid-template-rows: repeat(10, 1fr) !important;
    }
}

@media only screen  and (min-width : 1400px) {
    ul.list-group {
        grid-template-rows: repeat(10, 1fr) !important;
    }
}

@media only screen  and (min-width : 1600px) {
    ul.list-group {
        grid-template-rows: repeat(12, 1fr) !important;
    }
}
    
 /* Large screens ----------- */
 @media only screen  and (min-width : 1824px) {
    ul.list-group {
        grid-template-rows: repeat(14, 1fr) !important;
    }
 }

ul.header-group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1em;
    grid-auto-flow: column;
    padding: 0;
    margin: 0;
}

.header-group-mobile {
    padding: 1rem;
    color: white;
    width:100%;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Segoe UI';
    background-color: #0063B1;
}

.header-group-fasttrack-mobile {
    padding: 1rem;
    color: white;
    width:100%;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Segoe UI';
    background-color: #16A085;
}

.content-group-mobile {
    padding: 1rem;
    background-color: #efefef;
    color: black;
    font-weight: 600;
    font-size: 1.7rem;
    position: relative;
    border-bottom: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}

.content-group-mobile-even {
    background-color: white !important;
}

.queue-header {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.queue-header-fast {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.list-special .list-group-item {
    border: 1px solid #d5d5d5;
}

.list-special .list-group-item:first-child {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
  
.list-special .list-group-item:last-child {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.navbar .navbar-brand .header {
    padding-left: 1.5rem;
}

.nopadding {
    padding: 0;
}

.col-xs-4 {
    /* padding: 0; */
}