
/* You can add global styles to this file, and also import other style files */
@import './styles/bootstrap-3.3.7-dist/css/bootstrap.min.css';

body {
  font-family: 'Lato', sans-serif;
  background-color: #F4F4F4;
}

.custom-container {
    margin-left: 2rem;
    margin-right: 2rem;
}

.content-header {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}

.content-text {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #47525E;
}

.gutter {
  padding-top: 1rem;
}

.large-gutter {
  padding-top: 2rem;
  color: white;
}

ul.list-group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap:1em;
    grid-auto-flow: column;
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    ul.list-group {
        grid-template-rows: repeat(12, 1fr) !important;
    }
}
    
 /* Large screens ----------- */
 @media only screen  and (min-width : 1824px) {
    ul.list-group {
        grid-template-rows: repeat(15, 1fr) !important;
    }
 }

ul.header-group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1em;
    grid-auto-flow: column;
    padding: 0;
}

.list-special .list-group-item:first-child {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
  
.list-special .list-group-item:last-child {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.navbar .navbar-brand .header {
    padding-left: 1.5rem;
}