.queue {
    background-color: rgb(229, 229, 229);
    max-height: 42rem;
    border: 1px solid #efefef;
    overflow: hidden;
}

.list-group-item {
    position: relative;
}

.list-group-item-mobile {
    position: relative;
}

.list-group-item-even {
    background-color: #efefef;
}

.list-header-item {
    border-top: none;
    background-color: #0078D7;
    color: black !important;
}

.list-header-item-mobile {
    border-top: none;
    font-weight: 600;
    background-color: #0078D7 !important;
    color: white !important;
    padding-left: 2.5rem;
    font-size: 1.7rem;
}

.list-header-item-mobile-fast {
    border-top: none;
    font-weight: 600;
    background-color: #1ABC9C !important;
    color: white !important;
    padding-left: 2.5rem;
    font-size: 1.7rem;
}

.list-header-item-fast {
    border-top: none;
    background-color: #1ABC9C;
    color: black !important;
}

.queue-header {
    color: white;
    width:100%;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Segoe UI';
    background-color: #0063B1;
    display: block;
}

.header {
    font-size: 1.7rem;
    font-weight: 600;
}

.padding-bottom {
    padding-bottom: 1rem;
}

.padding-top {
    padding-top: 2rem;
}

.queue-header-fast {
    width:100%;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Segoe UI';
    background-color: #16A085;
    display: block;
    /* border: 1px solid #16A085; */
}

.queue-header .main-text {
    color: white;
}

.queue-header .secondary-text {
    font-size: 1.35rem;
    color: #d7d7d7;
}

.queue-header-fast .main-text {
    color: white;
}

.queue-header-fast .secondary-text {
    font-size: 1.35rem;
    color: #d7d7d7;
}