.queue {
    background-color: rgb(229, 229, 229);
    max-height: 42rem;
    border: 1px solid #efefef;
    overflow: hidden;
}

.list-group-item {
    position: relative;
}

.list-header-item {
    background-color: #00AEEF;
    color: white !important;
}

.list-header-item-fast {
    background-color: #1ABC9C;
    color: white !important;
}

.queue-header {
    color: white;
    width:100%;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif !important;
    background-color: #0098D1;
    display: block;
}

.queue-header-fast {
    color: white;
    width:100%;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif !important;
    background-color: #16A085;
    display: block;
}

.queue-header .left {
    float: left;
}

.queue-header-fast .left {
    float: left;
}

.queue-header .center {
    padding-left: 3rem;
}

.queue-header-fast .center {
    padding-left: 3rem;
}

.queue-header-fast .center .english {
    font-size: 1rem !important;
    color: #efefef;
}

.queue-header .right {
    float: right;
}

.queue-header-fast .right {
    float: right;
}