<div class="row" *ngIf="patientQueueSorted">
    <div class="col-xs-12 mr-4">
        <ul class="header-group list-special">
            <li class="list-group-item" [ngClass]="{'queue-header': !fastTrack, 'queue-header-fast': fastTrack}">
                <span class="left">Position</span>
                <span class="center">Patient ID</span>
                <span class="right">Prioritet</span>
            </li>
            <li class="list-group-item" [ngClass]="{'queue-header': !fastTrack, 'queue-header-fast': fastTrack}">
                <span class="left">Position</span>
                <span class="center">Patient ID</span>
                <span class="right">Prioritet</span>
            </li>
            <li class="list-group-item" [ngClass]="{'queue-header': !fastTrack, 'queue-header-fast': fastTrack}">
                <span class="left">Position</span>
                <span class="center">Patient ID</span>
                <span class="right">Prioritet</span>
            </li>
            <li class="list-group-item" [ngClass]="{'queue-header': !fastTrack, 'queue-header-fast': fastTrack}">
                <span class="left">Position</span>
                <span class="center">Patient ID</span>
                <span class="right">Prioritet</span>
            </li>
            <li class="list-group-item" [ngClass]="{'queue-header': !fastTrack, 'queue-header-fast': fastTrack}">
                <span class="left">Position</span>
                <span class="center">Patient ID</span>
                <span class="right">Prioritet</span>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 mr-4">
        <div class="special">
            <ul class="list-group list-special">
                <li *ngFor="let row of patientQueueSorted" class="" [ngClass]="{'list-group-item': row.id, 'list-header-item': !row.patientId && !fastTrack, 'list-header-item-fast': !row.patientId && fastTrack}">
                    <app-queue-row [id]="row.id" [position]="row.position" [patientId]="row.patientId" [triage]="row.triage"
                        [baby]="row.baby"></app-queue-row>
                </li>
            </ul>
        </div>
    </div>
</div>