<div class="row" *ngIf="patientQueueSorted">
    <div class="col-xs-12 mr-4">
        <ul class="header-group list-special">
            <li class="list-group-item queue-header">
                <span class="left">Patient nummer</span>
                <span class="right">Prioritet</span>
            </li>
            <li class="list-group-item queue-header">
                <span class="left">Patient nummer</span>
                <span class="right">Prioritet</span>
            </li>
            <li class="list-group-item queue-header">
                <span class="left">Patient nummer</span>
                <span class="right">Prioritet</span>
            </li>
            <li class="list-group-item queue-header">
                <span class="left">Patient nummer</span>
                <span class="right">Prioritet</span>
            </li>
            <li class="list-group-item queue-header">
                <span class="left">Patient nummer</span>
                <span class="right">Prioritet</span>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 mr-4">
        <ul class="list-group list-special">
            <li *ngFor="let row of patientQueueSorted" [ngClass]="{'list-group-item': row.id, 'list-header-item': !row.patientId}">
                <app-queue-row [id]="row.id" [patientId]="row.patientId" [triage]="row.triage" [baby]="row.baby"></app-queue-row>
            </li>
        </ul>
    </div>
</div>